html,
body {
  @apply p-0 m-0;
}

main {
  @apply p-2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spacer {
  content: ' ';
}

.input {
  @apply p-1 mx-2 border border-black rounded outline-none;
}

div.category:after {
  content: '';
  @apply z-0 flex h-4 w-full text-transparent transform translate-y-1.5 border-t border-black mr-1;
}

.button {
  @apply p-1 text-center bg-blue-300 rounded shadow-lg cursor-pointer hover:bg-blue-500 hover:text-white active:shadow-none;
}
